---
import Layout from "@/components/layout/MainLayout.astro";
import FirstSection from "@/components/home/FirstSection";
import HeroSection from "@/components/home/HeroSection.astro";
import ServicesSection from "@/components/home/ServicesSection.astro";
import FeaturesSection from "@/components/home/FeaturesSection";
import LastSection from "@/components/home/LastSection";
---

<Layout metadata={{ title: "Dazaki - Digital Solutions" }}>
  <HeroSection />
  <div class="bg-gradient-to-r from-purple-600 via-violet-600 to-rose-600 p-1">
  </div>
  <FirstSection />
  <div class="bg-gradient-to-r from-purple-600 via-violet-600 to-rose-600 p-1">
  </div>
  <ServicesSection />
  <div class="bg-gradient-to-r from-purple-600 via-violet-600 to-rose-600 p-1">
  </div>
  <FeaturesSection />
  <div class="bg-gradient-to-r from-purple-600 via-violet-600 to-rose-600 p-1">
  </div>
  <LastSection />
</Layout>
