---
import { Image } from "astro:assets";
import heroImage from "@/assets/images/hero.jpg";
import { LinkButton } from "@/components/ui/Button";

const heroImageConfig = {
  quality: 80,
  widths: [360, 640, 768, 1024, 960, 2000] as number[],
  sizes:
    "(max-width: 360px) 360px, (max-width: 640px) 640px, (max-width: 768px) 768px, (max-width: 1024px) 1024px, (max-width: 1280px) 640px, (max-width: 1920px) 960px, 2000px",
  loading: "eager",
} as const;
---

<section class="relative bg-zinc-900 lg:relative">
  <div class="flex h-[30rem] w-full items-center md:h-[40rem]">
    {/* https://unsplash.com/photos/p0j-mE6mGo4 */}
    <Image
      class="h-full w-full object-cover"
      src={heroImage}
      alt="Main hero picture"
      {...heroImageConfig}
    />
  </div>
  <div class="absolute inset-0 rounded-md bg-black opacity-50"></div>
  <div class="absolute inset-0 flex flex-col items-center justify-center px-4">
    <h1
      class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl"
    >
      <span class="block">Your Problem.</span>{" "}
      <span
        class="block bg-gradient-to-r from-red-200 to-rose-400 bg-clip-text text-transparent"
      >
        Our Solution.
      </span>
    </h1>
    <p
      class="mt-3 max-w-md text-center text-lg text-gray-100 sm:text-xl md:mt-5 md:max-w-3xl"
    >
      Dazaki is building custom technology solutions for content creators,
      businesses, influencers, and anyone else in need of services to make
      awesome experiences.
    </p>
    <div class="mt-6 md:mt-10">
      <LinkButton variant="branded" size="lg" href="/contact">
        Get in Touch
      </LinkButton>
    </div>
  </div>
</section>
